= simple_form_for(@phone_number) do |f|
  = f.error_notification

  .form-group
    = f.input :number, input_html: {class: 'form-control'}
  .form-group
    = f.input :contact_id, as: :hidden, input_html: {class: 'form-control'}
  .form-group
    = f.input :contact_type, as: :hidden, input_html: {class: 'form-control'}

  .form-group
    = f.button :submit, class: 'btn-primary'
