= simple_form_for(@email_address) do |f|
  = f.error_notification

  .form-group
    = f.input :address, input_html: {class: 'form-control'}
  .form-group
    = f.input :person_id, as: :hidden, input_html: {class: 'form-control'}

  .form-group
    = f.button :submit, class: 'btn-primary'
