%h1= "New email address for #{@email_address.contact}"

= render 'form'

= link_to 'Back', email_addresses_path
\|
- if @email_address.contact_type == "Person"
  = link_to 'Back to Person', person_path(@email_address.contact_id)
- else
  = link_to 'Back to Company', company_path(@email_address.contact_id)
