%p#notice= notice

%p
  %b Address:
  = @email_address.address
%p
  %b Person:
  = @email_address.person_id

= link_to 'Edit', edit_email_address_path(@email_address)
\|
= link_to 'Back', email_addresses_path
\|
= link_to 'Back to Person', person_path(@email_address.person)
